:root{
    --textColor-1 : #252525;
    --textColor-2 : #FFFFFF;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;

}

::-webkit-scrollbar{
    display: none;
}
html{
    scroll-behavior: smooth;
}



/* Navigation Bar */
header{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 1000;
    /* padding: 15px 80px; */
    transition: 0.6s;
    background: var(--textColor-1);
}
header .logo{
    position: relative;
    color: var(--textColor-2);
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 700;
    transition: 0.6s;
    margin: 15px;
    margin-left: 100px;
}
header .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 62%;
}
header .icon a{
    position: relative;
    margin: 0px 15px;
    text-decoration: none;
    color: var(--textColor-2);
}

/* Menu */
.menu-btn {
    cursor: pointer;
    margin-top: 28px;
    margin-bottom: -10%;
    margin-right: 85px;
    transform: translate(-5%, -50%);
    z-index: 2;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 50px;
    cursor: pointer;
    transition: all .5s ease-in-out;
}
.menu-btn__burger {
    width: 40px;
    height: 4px;
    background: var(--textColor-2);
    border-radius: 5px;
    transition: all .5s ease-in-out;
}
.menu-btn__burger::before,
.menu-btn__burger::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 4px;
    background: var(--textColor-2);
    border-radius: 5px;
    transition: all .5s ease-in-out;
}
.menu-btn__burger::before {
    transform: translateY(-13px);
   
}
.menu-btn__burger::after {
    transform: translateY(13px);
}
.menu-btn.open .menu-btn__burger {
    transform: translateX(50px);
    background: transparent;
    box-shadow: none;
}
.menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(-35px, 35px);
    background: var(--textColor-2);
}
.menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(-35px, -35px);
    background: var(--textColor-2);
}

/* Link Menu */
.link-nav{
    justify-content: space-around;
    align-items: center;
    list-style: none;
    display: flex;
    position: fixed;
    background: var(--textColor-1);
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(10px at 90% -10%);
    -webkit-clip-path: circle(10px at 90% -10%);
    transition: all 1s ease-out;
    pointer-events: none;
}
.link-nav.open{
    clip-path: circle(1800px at 90% -10%);
    -webkit-clip-path: circle(1800px at 90% -10%);
    pointer-events: all;
}
.link-nav li{
    opacity: 0;
}
.link-nav li a{
    font-size: 4em;
    color: var(--textColor-2);
    text-decoration: none;
}
.link-nav li:nth-child(1){
    transition: all 0.5s ease 0.2s;
}
.link-nav li:nth-child(2){
    transition: all 0.5s ease 0.4s;
}
.link-nav li:nth-child(3){
    transition: all 0.5s ease 0.6s;
}
li.fade {
    opacity: 1;
}
/* End Navigation Bar */



/* Hero */
.hero{
    position: relative;
    width: 100%;
    min-height: 110vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero .container-section{
    position: relative;
    width: 100%;
    min-height: 110vh;
    display: flex;
    justify-content: center;
    align-items: center
}
.hero .container-section .hero-text h1{
    font-size: 5em;
    text-align: justify;
    font-weight: 700;
    color: var(--textColor-1);
}
.hero .container-section .hero-text h3{
    text-align: justify;
    font-weight: 700;
    color: var(--textColor-1);
}
.hero .container-section .hero-text p{
    font-weight: 500;
    color: var(--textColor-1);
    margin-top: 30px;
    text-align: justify;
}
.hero .container-section img{
    width: 450px;
    margin-left: 10%;
}
.hero .container-section .hero-text{
    max-width: 600px; 
}
/* End Hero */



/* Skills */
.skill{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.skill .container-section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center
}
.skill .container-section .card{
    text-align: center;
    margin: 40px;
}
.skill .container-section .card h3{
    font-weight: 500;
    margin-top: 10px;
}
.skill .container-section .card img{
    width: 110px;
}
.skill .container-section .card-content{
    display: flex;
}
.skill .container-section .skill-content{
    text-align: center;
    justify-content: center;
    position: relative;
}
.skill .container-section .skill-content h1{
    font-size: 5em;
    font-weight: 700;
    margin-bottom: 50px;
    color: var(--textColor-1);
}
/* End Skills */



/* Certification */
.certif{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.certif .container-section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center
}
.certif .container-section .certif-content h1{
    font-size: 5em;
    font-weight: 700;
    margin-bottom: -30px;
    color: var(--textColor-1);
}
.certif .container-section .certif-content{
    text-align: center;
    justify-content: center;
    position: relative;
}
.certif .container-section .card-content{
    display: flex;
}
.certif .container-section .card img{
    width: 310px;
}
.certif .container-section .card .pm{
    width: 310px;
    margin-top: 30px;
    margin-bottom: 20%;
}
.certif .container-section .card a{
    text-decoration: none;
    color: var(--textColor-1);
}
.certif .container-section .card{
    text-align: center;
    margin: 100px;
}
/* End Certification */



/* information */
.info{
    position: relative;
    width: 100%;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--textColor-1);
}
.info .container-section{
    position: relative;
    width: 100%;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center
}

.info .container-section .info-text h2{
    text-align: center;
    justify-content: center;
    position: relative;
    font-weight: 700;
    font-size: 1.5em;
    color: var(--textColor-2);
}
.info a{
    position: relative;
    display: inline-block;
    padding: 15px 60px;
    color: var(--textColor-1);
    background-color: var(--textColor-2);
    border-radius: 10px;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 500;
    font-size: 0.8em;
    overflow: hidden;
    transition: 0.1s;
    margin: 50px;
}
.info a:hover{
    color: var(--textColor-1);
    background: var(--textColor-2);
    box-shadow: 0 0 0px #E8E8E2, 0 0 0px #E8E8E2, 0 0 20px
    #E8E8E2;
    transition-delay: 0.1s;
}
.info .container-section .btn{
    justify-content: center;
    align-items: center;
}
/* End information */



/* Footer */
footer{
    padding: 10px 100px;
    background: var(--textColor-2);
}
footer .fr{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer .fr .logo{
    position: relative;
    color: var(--textColor-1);
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 700;
}
footer .fr p{
    color: var(--textColor-1);
}
/* End Footer */